.wp-block {
  max-width: 1280px; }

#widgets-right .wp-picker-container {
  display: block; }

.widget-help {
  font-size: 10px;
  color: #999;
  padding: 0;
  display: inline-block; }

.widget select {
  max-width: 100%; }

#meta-box-notification {
  display: none; }

.rwmb-activate-license {
  display: none; }

.wp-has-submenu.toplevel_page_meta-box {
  display: none; }

.rwmb-default .postbox-header {
  background: #d3d3d3;
  color: #000; }

.rwmb-default .inside {
  margin: 0 !important;
  padding: 0 !important; }
  .rwmb-default .inside .rwmb-field {
    border-bottom: 1px dotted #ccc;
    padding: 25px 20px;
    margin: 0; }
    .rwmb-default .inside .rwmb-field .description {
      margin-top: 10px; }
    .rwmb-default .inside .rwmb-field.rwmb-special-color {
      background: #f9f8b8 !important; }
  .rwmb-default .inside .rwmb-field:nth-child(2n+3) {
    background: #f9f9f9; }
